.full {
    width: 100%;
    height: 100%;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/vintage-concrete.png);
}

nav {
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 64px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    background-color: #eee;
}

header {
    font-family: font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #eee;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.menu {
    float: right;
    padding: 2%;
    margin-top: 5px;
}

.bound {
    width: 960px;
    margin: 0 auto;
}

section {
    width: 610px;
    background-color: #eee;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    margin-bottom: 20px;
    border-bottom: solid;
    border-bottom-color: #dddddd
}

.about {}

img {
    float: left;
    padding-right: 15px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

aside {
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: right;
    width: 270px;
    text-align: center;
    background-color: #eee;
    color: #4aaaa5;
    border-bottom: solid;
}

footer {
    clear: both;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    background-color: #666666;
    border-top: solid;
    border-top-width: 5px;
    border-top-color: #4aaaa5;
}
